// TODO: DOCUMENTAR

.med-clamp {
  --lines: 3;

  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// TODO: DOCUMENTAR

.med-rotate {
  --rotate: rotate(0deg);
  transform: var(--rotate);
  transition: transform 300ms ease;
}
