:root {
  /* neutral */
  --neutral-saturation: 10%;
  --neutral-luminosity: 8%;
  --neutral-step-luminosity: 13%;
  /* color */
  --brand-hue: 25;
  --color-saturation: 80%;
  --color-luminosity-1: 20%;
  --color-luminosity-2: 30%;
  --color-luminosity-3: 40%;
  --color-luminosity-4: 60%;
  --color-luminosity-5: 80%;
  /* feedback */
  --feedback-attention-hue: 44;
  --feedback-caution-hue: 24;
  --feedback-warning-hue: 4;
  --feedback-success-hue: 128;
  --feedback-saturation: 80%;
  --feedback-luminosity: 65%;
}

:root {
  /* neutral mutables */
  --neutral-invert: 1;
  --neutral-luminosity-mutable-1: var(--luminosity-fator-1, 0%);
  --neutral-luminosity-mutable-2: var(--luminosity-fator-2, 0%);
  /* color mutables */
  --color-luminosity-mutable-1: var(--luminosity-fator-1, 0%);
  --color-luminosity-mutable-2: var(--luminosity-fator-2, 0%);
  --color-luminosity-mutable-3: var(--luminosity-fator-1, 0%);
}

:root {
  /* neutral tokens */
  --med-color-neutral-1: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-luminosity));
  --med-color-neutral-15: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-step-luminosity));
  --med-color-neutral-2: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-luminosity) + 10% * var(--neutral-invert));
  --med-color-neutral-25: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-step-luminosity) + 10% * var(--neutral-invert));
  --med-color-neutral-3: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-luminosity) + 20% * var(--neutral-invert));
  --med-color-neutral-35: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-step-luminosity) + 20% * var(--neutral-invert));
  --med-color-neutral-4: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-luminosity) + 30% * var(--neutral-invert));
  --med-color-neutral-45: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-step-luminosity) + 30% * var(--neutral-invert));
  --med-color-neutral-5: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-luminosity) + 40% * var(--neutral-invert));
  --med-color-neutral-55: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-1) + var(--neutral-step-luminosity) + 40% * var(--neutral-invert));
  --med-color-neutral-6: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-luminosity) + 50% * var(--neutral-invert));
  --med-color-neutral-65: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-step-luminosity) + 50% * var(--neutral-invert));
  --med-color-neutral-7: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-luminosity) + 60% * var(--neutral-invert));
  --med-color-neutral-75: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-step-luminosity) + 60% * var(--neutral-invert));
  --med-color-neutral-8: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-luminosity) + 70% * var(--neutral-invert));
  --med-color-neutral-85: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-step-luminosity) + 70% * var(--neutral-invert));
  --med-color-neutral-9: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-luminosity) + 80% * var(--neutral-invert));
  --med-color-neutral-95: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-step-luminosity) + 80% * var(--neutral-invert));
  --med-color-neutral-10: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--neutral-saturation) + var(--saturation-fator, 0%)), calc(var(--neutral-luminosity-mutable-2) + var(--neutral-luminosity) + 90% * var(--neutral-invert));
  /* color tokens */
  --med-color-contrast-fixed: var(--med-color-neutral-10);
  --med-color-brand-1: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1) + var(--color-luminosity-1));
  --med-color-brand-2: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1) + var(--color-luminosity-2));
  --med-color-brand-3: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3) + var(--color-luminosity-3));
  --med-color-brand-4: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2) + var(--color-luminosity-4));
  --med-color-brand-5: calc(var(--brand-hue) + var(--hue-fator, 0)), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2) + var(--color-luminosity-5));
  --med-color-brand-gradient: linear-gradient(to right, hsl(var(--med-color-brand-3)), hsl(var(--med-color-brand-1)));
  /* feedback tokens */
  --med-color-fb-attention: var(--feedback-attention-hue), calc(var(--feedback-saturation) + var(--saturation-fator, 0%)), var(--feedback-luminosity);
  --med-color-fb-caution: var(--feedback-caution-hue), calc(var(--feedback-saturation) + var(--saturation-fator, 0%)), var(--feedback-luminosity);
  --med-color-fb-warning: var(--feedback-warning-hue), calc(var(--feedback-saturation) + var(--saturation-fator, 0%)), var(--feedback-luminosity);
  --med-color-fb-success: var(--feedback-success-hue), calc(var(--feedback-saturation) + var(--saturation-fator, 0%)), var(--feedback-luminosity);
}

:root {
  /* base */
  --background: hsl(var(--med-color-neutral-1));
}

ion-content {
  --background: hsl(var(--med-color-neutral-1));
}

.med-color-neutral-1 {
  --med-color-neutral: var(--med-color-neutral-1) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-15 {
  --med-color-neutral: var(--med-color-neutral-15) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-2 {
  --med-color-neutral: var(--med-color-neutral-2) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-25 {
  --med-color-neutral: var(--med-color-neutral-25) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-3 {
  --med-color-neutral: var(--med-color-neutral-3) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-35 {
  --med-color-neutral: var(--med-color-neutral-35) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-4 {
  --med-color-neutral: var(--med-color-neutral-4) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-45 {
  --med-color-neutral: var(--med-color-neutral-45) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-5 {
  --med-color-neutral: var(--med-color-neutral-5) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-55 {
  --med-color-neutral: var(--med-color-neutral-55) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-10) !important;
}

.med-color-neutral-6 {
  --med-color-neutral: var(--med-color-neutral-6) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-65 {
  --med-color-neutral: var(--med-color-neutral-65) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-7 {
  --med-color-neutral: var(--med-color-neutral-7) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-75 {
  --med-color-neutral: var(--med-color-neutral-75) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-8 {
  --med-color-neutral: var(--med-color-neutral-8) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-85 {
  --med-color-neutral: var(--med-color-neutral-85) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-9 {
  --med-color-neutral: var(--med-color-neutral-9) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-95 {
  --med-color-neutral: var(--med-color-neutral-95) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-neutral-10 {
  --med-color-neutral: var(--med-color-neutral-10) !important;
  --med-color-neutral-contrast: var(--med-color-neutral-1) !important;
}

.med-color-fb-attention {
  --med-color-feedback: var(--med-color-fb-attention) !important;
  --med-color-feedback-contrast: var(--med-color-neutral-1) !important;
}

.med-color-fb-caution {
  --med-color-feedback: var(--med-color-fb-caution) !important;
  --med-color-feedback-contrast: var(--med-color-neutral-1) !important;
}

.med-color-fb-warning {
  --med-color-feedback: var(--med-color-fb-warning) !important;
  --med-color-feedback-contrast: var(--med-color-neutral-1) !important;
}

.med-color-fb-success {
  --med-color-feedback: var(--med-color-fb-success) !important;
  --med-color-feedback-contrast: var(--med-color-neutral-1) !important;
}

.med-color-brand {
  --med-color-1: var(--med-color-brand-1) !important;
  --med-color-2: var(--med-color-brand-2) !important;
  --med-color-3: var(--med-color-brand-3) !important;
  --med-color-4: var(--med-color-brand-4) !important;
  --med-color-5: var(--med-color-brand-5) !important;
  --med-color-gradient: var(--med-color-brand-gradient) !important;
}

/*# sourceMappingURL=default.css.map */
