.theme-medsoft {
  /* color */
  --brand-hue: 188;
  --aula-hue: 168;
  --material-hue: 24;
  --questoes-hue: 200;
  --revalida-hue: 342;
  --provas-hue: 268;
  /* color tokens */
  --med-color-aula-1: var(--aula-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-1));
  --med-color-aula-2: var(--aula-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-2));
  --med-color-aula-3: var(--aula-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3, 0%) + var(--color-luminosity-3));
  --med-color-aula-4: var(--aula-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-4));
  --med-color-aula-5: var(--aula-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-5));
  --med-color-aula-gradient: linear-gradient(to right, hsl(var(--med-color-aula-3)), hsl(var(--med-color-aula-1)));
  --med-color-material-1: var(--material-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-1));
  --med-color-material-2: var(--material-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-2));
  --med-color-material-3: var(--material-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3, 0%) + var(--color-luminosity-3));
  --med-color-material-4: var(--material-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-4));
  --med-color-material-5: var(--material-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-5));
  --med-color-material-gradient: linear-gradient(to right, hsl(var(--med-color-material-3)), hsl(var(--med-color-material-1)));
  --med-color-questoes-1: var(--questoes-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-1));
  --med-color-questoes-2: var(--questoes-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-2));
  --med-color-questoes-3: var(--questoes-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3, 0%) + var(--color-luminosity-3));
  --med-color-questoes-4: var(--questoes-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-4));
  --med-color-questoes-5: var(--questoes-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-5));
  --med-color-questoes-gradient: linear-gradient(to right, hsl(var(--med-color-questoes-3)), hsl(var(--med-color-questoes-1)));
  --med-color-revalida-1: var(--revalida-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-1));
  --med-color-revalida-2: var(--revalida-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-2));
  --med-color-revalida-3: var(--revalida-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3, 0%) + var(--color-luminosity-3));
  --med-color-revalida-4: var(--revalida-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-4));
  --med-color-revalida-5: var(--revalida-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-5));
  --med-color-revalida-gradient: linear-gradient(to right, hsl(var(--med-color-revalida-3)), hsl(var(--med-color-revalida-1)));
  --med-color-provas-1: var(--provas-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-1));
  --med-color-provas-2: var(--provas-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-1, 0%) + var(--color-luminosity-2));
  --med-color-provas-3: var(--provas-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-3, 0%) + var(--color-luminosity-3));
  --med-color-provas-4: var(--provas-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-4));
  --med-color-provas-5: var(--provas-hue), calc(var(--color-saturation) + var(--saturation-fator, 0%)), calc(var(--color-luminosity-mutable-2, 0%) + var(--color-luminosity-5));
  --med-color-provas-gradient: linear-gradient(to right, hsl(var(--med-color-provas-3)), hsl(var(--med-color-provas-1)));
}

.med-color-aula {
  --med-color-1: var(--med-color-aula-1) !important;
  --med-color-2: var(--med-color-aula-2) !important;
  --med-color-3: var(--med-color-aula-3) !important;
  --med-color-4: var(--med-color-aula-4) !important;
  --med-color-5: var(--med-color-aula-5) !important;
  --med-color-gradient: var(--med-color-aula-gradient) !important;
}

.med-color-material {
  --med-color-1: var(--med-color-material-1) !important;
  --med-color-2: var(--med-color-material-2) !important;
  --med-color-3: var(--med-color-material-3) !important;
  --med-color-4: var(--med-color-material-4) !important;
  --med-color-5: var(--med-color-material-5) !important;
  --med-color-gradient: var(--med-color-material-gradient) !important;
}

.med-color-questoes {
  --med-color-1: var(--med-color-questoes-1) !important;
  --med-color-2: var(--med-color-questoes-2) !important;
  --med-color-3: var(--med-color-questoes-3) !important;
  --med-color-4: var(--med-color-questoes-4) !important;
  --med-color-5: var(--med-color-questoes-5) !important;
  --med-color-gradient: var(--med-color-questoes-gradient) !important;
}

.med-color-revalida {
  --med-color-1: var(--med-color-revalida-1) !important;
  --med-color-2: var(--med-color-revalida-2) !important;
  --med-color-3: var(--med-color-revalida-3) !important;
  --med-color-4: var(--med-color-revalida-4) !important;
  --med-color-5: var(--med-color-revalida-5) !important;
  --med-color-gradient: var(--med-color-revalida-gradient) !important;
}

.med-color-provas {
  --med-color-1: var(--med-color-provas-1) !important;
  --med-color-2: var(--med-color-provas-2) !important;
  --med-color-3: var(--med-color-provas-3) !important;
  --med-color-4: var(--med-color-provas-4) !important;
  --med-color-5: var(--med-color-provas-5) !important;
  --med-color-gradient: var(--med-color-provas-gradient) !important;
}

/*# sourceMappingURL=medsoft.css.map */
