.cp-accordion-list {
  &__item {
    border-radius: 8px;
    --margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__end {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__thumbnail {
    margin-right: 16px;
  }

  &__avancar {
    margin-left: auto;
  }

  &__aula {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    &:not(:last-of-type) {
      border-bottom: 1px solid hsl(var(--med-color-aula-3));
    }
  }

  &__icon {
    &--color {
      stroke: hsl(var(--med-color-aula-3));
      margin-right: 8px;
    }
  }

  &__caption {
    margin: 4px 0;
  }

  &__aulas-start {
    margin-right: 16px;
  }

  &__aulas-middle {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-top: 4px;
  }

  &__aulas-result {
    margin-top: 16px;
  }

  &__aulas-end {
    display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
  }

  &__aulas-btn {
    display: block;
    @include breakpoint-down("xxs") {
      display: none;
    }
  }

  &__aulas-btn-small {
    display: none;
    @include breakpoint-down("xxs") {
      display: block;
    }
  }
}

.med-rotate {
  transition: transform 300ms ease;
}

.accordion-item--open .med-rotate {
  --rotate: rotate(180deg);
}
