.cp-dialog {
  &__header {
    text-align: right;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__footer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
