.med-datetime {
  .picker-wrapper {
    background: hsl(var(--med-color-neutral-2));
    border-radius: 16px 16px 0px 0px;
  }

  .picker-above-highlight,
  .picker-below-highlight {
    background: hsla(var(--med-color-neutral-2), 0.8);
  }

  .picker-button {
    text-transform: uppercase;
    font-family: 'fsemeric';
    color: hsl(var(--med-color-brand-4));
    font-size: 12px;
    line-height: 12px;
    padding: 24px;
  }

  .picker-toolbar-cancel {
    .picker-button {
      color: hsl(var(--med-color-neutral-9));
      font-weight: 600;
    }
  }

  .picker-opt {
    color: hsl(var(--med-color-neutral-10));
  }

  ion-backdrop {
    --ion-backdrop-color: hsl(var(--med-color-neutral-1)) !important;
    --backdrop-opacity: 0.8 !important;
  }
}
