.med-popover--font-zoom {
  --background: #{color('neutral', '2')} !important;
  --width: 232px;
  color: color('neutral', '8');

  .popover-arrow.sc-ion-popover-ios {
    display: block;
    position: absolute;
    width: 30px;
    height: 15px;
    overflow: hidden;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--background);
  }

  .popover-content {
    padding: 16px;
    border-radius: 8px;
  }
}

@supports (backdrop-filter: blur(0)) {
  .med-popover--font-zoom .popover-content,
  .med-popover--font-zoom .popover-arrow::after {
    --background: #{color('neutral', '2')};
    background: #{color('neutral', '2')} !important;
  }
}
