.med-picker {
  --background: hsl(var(--med-color-neutral-2));
  --border-radius: 16px 16px 0px 0px;
  --border-color: transparent;

  .picker-above-highlight,
  .picker-below-highlight {
    background: hsla(var(--med-color-neutral-2), 0.8);
    display: block;
  }

  .picker-button {
    color: hsl(var(--med-color-brand-4));
    font-size: 12px;
    line-height: 12px;
    font-family: "fsemeric";
    padding: 24px;
  }

  .picker-toolbar {
    justify-content: space-between;
  }

  .picker-toolbar-cancel {
    .picker-button {
      color: hsl(var(--med-color-neutral-9));
      font-weight: 600;
    }
  }

  .picker-opt {
    color: hsl(var(--med-color-neutral-10));
  }
}

@include platform("desktop") {
  .med-picker--modal {
    .picker-wrapper {
      left: unset;
      width: 430px;
    }
  }
}
