.tp-sheet {
  --background: hsl(var(--med-color-neutral-2)) !important;
  --border-radius: 15px 15px 0 0 !important;
  --height: auto !important;
  --width: 100% !important;

  padding-bottom: var(--ion-safe-area-bottom) !important;

  .modal-wrapper {
    position: fixed !important;
    bottom: 0 !important;
    max-height: 90vh !important;
    overflow: auto !important;
    opacity: 1 !important;
    padding: 24px !important;

    @include iphone-x-range {
      padding: 24px 24px var(--ion-safe-area-bottom, 24px) 24px;
      padding-bottom: calc(24px + 3vh) !important;
    }

    .ion-page {
      position: relative !important;
      contain: content !important;
      display: flex !important;
      justify-content: flex-start !important;
    }
  }

  ion-backdrop {
    --ion-backdrop-color: hsl(var(--med-color-neutral-1)) !important;
    opacity: 0.8 !important;
  }
}

.tp-sheet-header {
  text-align: right;
  padding-bottom: 24px;
}

.tp-sheet-content {
  flex: 1;
  overflow: auto;
  --background: hsl(var(--med-color-neutral-2)) !important;
}

.tp-sheet-footer {
  padding-top: 24px;
}

.tp-sheet--ion-content {
  overflow: none !important;

  .modal-wrapper {
    height: 100% !important;
  }

  ion-content {
    height: 70vh !important;
  }
}

@include breakpoint-up('lg') {
  .tp-sheet {
    --width: 420px !important;
    --border-radius: 15px 0 0 15px !important;

    .modal-wrapper {
      max-height: 100vh !important;
      height: 100vh !important;
      right: 0 !important;
    }
  }

  .tp-sheet--ion-content {
    ion-content {
      height: 100vh !important;
    }
  }
}
