.monta-provas-accordion__text-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.monta-provas__header-end {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.monta-provas-content {
  display: block;

  @include breakpoint-up("lg") {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 44px 0 10px 0;
  }
}

.monta-provas-content__chart {
  background: hsl(var(--med-color-neutral-2));
  padding: 0 24px 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;

  @include breakpoint-up("lg") {
    margin: unset;
    max-width: 500px;
  }
}

.monta-provas-content__chart-data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 100%;
  text-align: center;
  --font-size-label: 12px;

}

.monta-provas-content__chart-label {
  --font-size-item: 12px;
}

.med-chart-radial-label__quantia {
  min-width: 70px !important;
}

.monta-provas-content__button {
  display: flex;
  padding: 0 16px 8px;
}

.monta-provas-content__button-realizar {
  margin-left: auto;
}

.monta-provas-content__button-icon {
  margin-right: 16px;
}

.monta-provas-content__button-icon-duplicar {
  margin-top: 3px;
  margin-right: 16px;
}

.monta-provas-content__button-tooltip {
  opacity: 0.3;
  stroke: hsl(var(--med-color-neutral-10));
}
