.monta-provas-footer {
  @include breakpoint-up("lg") {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-right: 56px;
    padding-left: 56px;
    background: hsl(var(--med-color-neutral-1));
  }
}

.monta-provas-footer__container {
  display: flex;
  align-items: center;
  padding: 16px;
  max-width: 1220px;
  margin: 0 auto;
  justify-content: space-between;

  @include breakpoint-up("lg") {
    margin: 0;
    padding: 0;
  }
}

.monta-provas-footer__container-button {
  display: flex;
  align-items: center;
  padding: 16px;
  max-width: 1220px;
  margin: 0 auto;
  justify-content: center;

  @include breakpoint-up("lg") {
    margin: 0;
    padding: 0;
  }
}

.monta-provas-footer__auxiliar {
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: hsl(var(--med-color-neutral-10));
  text-transform: uppercase;
  margin: 0;
}

.monta-provas-footer__col {
  text-align: center;

  @include breakpoint-up("lg") {
    margin-right: 32px;
  }
}

.monta-provas-footer__number {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: hsl(var(--med-color-brand-4));
  text-transform: uppercase;
  margin: 0;
  padding: 4px 0;
}

.monta-provas-footer__text-number {
  --font-weight: 600;

  @include breakpoint-up("lg") {
    --font-size: 32px;
  }
}
